@import url("https://fonts.googleapis.com/css?family=Lato:400,900|Poppins:700|Rubik:700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.navigation {
  font-size: 1.3rem;
  font-weight: 900;
  position: relative;
  text-transform: uppercase;
  letter-spacing: .05em;
  position: relative;
  color: #666;
  background-color: #ECECEC;
  padding-top: 2rem; }
  .navigation__checkbox {
    display: none; }
  .navigation__nav {
    background-color: #ECECEC;
    position: absolute;
    z-index: 1500;
    top: 6.5em;
    opacity: 0;
    height: 0;
    width: 100%;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .navigation__button {
    background-color: #00B8FF;
    height: 4rem;
    width: 4rem;
    position: fixed;
    position: absolute;
    right: 1.5rem;
    border-radius: 3px;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer; }
  .navigation__list {
    list-style: none; }
  .navigation__item {
    padding-bottom: .7rem;
    padding-left: 1rem; }
  .navigation__link, .navigation__link:link, .navigation__link:visited {
    text-decoration: none;
    transition: all 0.2s;
    position: relative;
    color: inherit;
    transition: .5s ease; }
  .navigation__link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    top: -5px;
    left: 0;
    transform: scaleX(0);
    visibility: hidden;
    background-color: #00B8FF;
    border-radius: 3px;
    transition: all 650ms ease-in-out 0s; }
  .navigation__link:hover::before, .navigation__link:active::before, .navigation__link:focus::before {
    visibility: visible;
    transform: scaleX(1); }
  .navigation__link:hover {
    color: #292929; }
  .navigation__icon {
    position: absolute;
    right: .8rem;
    top: 2rem;
    z-index: 1600; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 2.5rem;
      height: 2px;
      background-color: #fff;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .navigation__icon::before {
      top: -.8rem; }
    .navigation__icon::after {
      top: .8rem; }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    height: 20rem; }

.logo {
  position: absolute;
  background: #00a4df;
  background: linear-gradient(266deg, rgba(0, 164, 223, 0.452801) 57%, white 100%);
  padding: .5rem;
  display: flex;
  width: 33vw;
  justify-content: center;
  z-index: 100;
  margin-left: 1rem; }
  .logo__img {
    width: 30vw; }

.header {
  background-size: cover;
  height: 100vh;
  text-align: center;
  position: relative;
  color: black;
  font-family: "Rubik", sans-serif;
  line-height: .8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
  height: 80vh;
  background-color: #ECECEC; }
  .header__imageContainer {
    position: relative; }
  .header__img {
    display: inline-block;
    margin: 0 auto;
    width: 100vw; }
    .header__img-1 {
      z-index: 5; }
    .header__img-2 {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10; }
  .header__heading {
    position: absolute;
    top: 45%;
    left: 38%;
    transform: translate(-50%, -50%);
    z-index: 6; }
  .header__devgroups {
    display: inline-block;
    animation: moveRight 3s infinite ease;
    font-size: 3rem; }

@keyframes moveRight {
  0% {
    transform: translateX(2.5rem); }
  50% {
    transform: translateX(0); }
  100% {
    transform: translateX(2.5rem); } }
