@import 'https://fonts.googleapis.com/css?family=Rubik:700,500|Lato:400';


*,
*::before,
*::after {
 margin: 0;
 padding: 0;
 box-sizing: inherit;
}

html {
 box-sizing: border-box;
 font-size: 62.5%;

 @include respond(tab) {
  font-size: 87.5%;
  //600+
 }


 @include respond(tab-big) {
  font-size: 93.75%;
  //900+
 }


 @include respond(laptop) {
  font-size: 100%;
  //1200+
 }

}

// @include respond(tab-port) {
//  //900
//  padding: 20rem 0;
// }

// @include respond(tab-land) {
//  //1200
// }

// @include respond(big-desktop) {
//  //1440
// }