.navigation {
 font-size: 1.3rem;
 font-weight: 900;
 position: relative;
 text-transform: uppercase;
 letter-spacing: 0.05em;
 position: relative;
 color: $color-grey-dark-1;
 background-color: $color-grey-light-1;
 padding-top: 2rem;

 &__checkbox {
  display: none;
 }

 &__nav {
  background-color: $color-grey-light-1;
  position: absolute;
  z-index: 1500;
  top: 6.5em;
  opacity: 0;
  height: 0;
  width: 100%;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
 }

 &__button {
  background-color: $color-primary;
  height: 4rem;
  width: 4rem;
  position: fixed;
  position: absolute;
  right: 1.5rem;
  border-radius: 3px;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(black, 0.1);
  text-align: center;
  cursor: pointer;
 }

 &__list {
  list-style: none;
 }

 &__item {
  padding-bottom: 0.7rem;
  padding-left: 1rem;
 }

 &__link {

  &,
  &:link,
  &:visited {
   text-decoration: none;
   transition: all 0.2s;
   position: relative;
   color: inherit;
   transition: 0.5s ease;
  }

  &::before {
   content: "";
   position: absolute;
   width: 100%;
   height: 2px;
   bottom: 0;
   top: -5px;
   left: 0;
   transform: scaleX(0);
   visibility: hidden;
   background-color: $color-primary;
   border-radius: 3px;
   transition: all 650ms ease-in-out 0s;
  }
 }

 &__link:hover::before,
 &__link:active::before,
 &__link:focus::before {
  visibility: visible;
  transform: scaleX(1);
 }

 &__link:hover {
  color: $font-color-black;
 }

 // ICON
 &__icon {
  position: absolute;
  right: 0.8rem;
  top: 2rem;
  z-index: 1600;

  &,
  &::before,
  &::after {
   width: 2.5rem;
   height: 2px;
   background-color: #fff;
   display: inline-block;
  }

  &::before,
  &::after {
   content: "";
   position: absolute;
   left: 0;
   transition: all 0.2s;
  }

  &::before {
   top: -0.8rem;
  }

  &::after {
   top: 0.8rem;
  }
 }

 &__button:hover &__icon::before {
  top: -1rem;
 }

 &__button:hover &__icon::after {
  top: 1rem;
 }

 &__checkbox:checked+&__button &__icon {
  background-color: transparent;
 }

 &__checkbox:checked+&__button &__icon::before {
  top: 0;
  transform: rotate(135deg);
 }

 &__checkbox:checked+&__button &__icon::after {
  top: 0;
  transform: rotate(-135deg);
 }

 &__checkbox:checked~&__nav {
  opacity: 1;
  height: 20rem;
 }
}

.logo {
 position: absolute;
 background: rgb(0, 164, 223);
 background: linear-gradient(266deg,
   rgba(0, 164, 223, 0.45280118883490894) 57%,
   rgba(255, 255, 255, 1) 100%);
 padding: 0.5rem;
 display: flex;
 width: 33vw;
 justify-content: center;
 z-index: 100;
 margin-left: 1rem;

 &__img {
  width: 30vw;
 }
}