.portfolio {
 background-color: $background-white;
 padding: 2rem 0;

 &__wrap {
  @include section-margin;
 }

 &__gallery {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(5, calc(20vw - 2rem));
  grid-auto-rows: calc(20vw - 2rem);
  grid-auto-flow: dense;
  margin: 2rem;
  justify-content: center;
  align-content: center;

  @include respond(tab-big) {
   grid-template-columns: repeat(5, calc(20vw - 4.5rem));
   grid-auto-rows: calc(20vw - 3rem);
  }


  @include respond(laptop) {
   grid-template-columns: repeat(5, calc(20vw - 6rem));
   grid-auto-rows: calc(20vw - 6rem);
  }

  @include respond(desktop) {
   grid-template-columns: repeat(5, calc(20vw - 7.5rem));
   grid-auto-rows: calc(20vw - 6rem);
  }

  .item {
   overflow: hidden;
   object-fit: cover;
  }

  .item img {
   max-height: 100%;
   min-width: 100%;
  }

  .item--2x2 {
   grid-column: auto / span 2;
   grid-row: auto / span 2
  }

  .item--1x2 {
   grid-row: auto / span 2;
  }

  .item--2x1 {
   grid-column: auto / span 2;
  }
 }

 &-heading {
  margin-left: 3rem;
  margin-bottom: 5rem;

  @include respond(tab) {
   margin-left: 0;
  }
 }

}